<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_S3>1.0.0</Made_S3>
    </modules>
    <global>
        <models>
            <made_s3>
                <class>Made_S3_Model</class>
            </made_s3>
            <core>
                <rewrite>
                    <file_storage>Made_S3_Model_File_Storage</file_storage>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Made_S3_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
        <blocks>
            <made_s3>
                <class>Made_S3_Block</class>
            </made_s3>
        </blocks>
        <helpers>
            <made_s3>
                <class>Made_S3_Helper</class>
            </made_s3>
            <cms>
                <rewrite>
                    <wysiwyg_images>Made_S3_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <events>
            <made_image_save_after>
                <observers>
                    <upload_resized_image_to_s3>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>uploadResizedImageToS3</method>
                    </upload_resized_image_to_s3>
                </observers>
            </made_image_save_after>
            <made_image_geturl>
                <observers>
                    <get_image_cdn_url>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>getImageCdnUrl</method>
                    </get_image_cdn_url>
                </observers>
            </made_image_geturl>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <made_s3>
                    <file>made/s3.xml</file>
                </made_s3>
            </updates>
        </layout>
        <events>
            <catalog_product_gallery_upload_image_after>
                <observers>
                    <upload_gallery_image>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>uploadGalleryImage</method>
                    </upload_gallery_image>
                </observers>
            </catalog_product_gallery_upload_image_after>
        </events>
    </adminhtml>
</config>