<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_S3>1.0.0</Made_S3>
    </modules>
    <global>
        <models>
            <made_s3>
                <class>Made_S3_Model</class>
            </made_s3>
        </models>
        <helpers>
            <made_s3>
                <class>Made_S3_Helper</class>
            </made_s3>
        </helpers>
    </global>
    <frontend>
        <events>
            <made_image_save_after>
                <observers>
                    <upload_resized_image_to_s3>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>uploadResizedImageToS3</method>
                    </upload_resized_image_to_s3>
                </observers>
            </made_image_save_after>
            <made_image_geturl>
                <observers>
                    <get_image_cdn_url>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>getImageCdnUrl</method>
                    </get_image_cdn_url>
                </observers>
            </made_image_geturl>
        </events>
    </frontend>
</config>