<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_S3>
            <version>1.0.4</version>
        </Made_S3>
    </modules>
    <global>
        <models>
            <made_s3>
                <class>Made_S3_Model</class>
            </made_s3>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Made_S3_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
        <blocks>
            <made_s3>
                <class>Made_S3_Block</class>
            </made_s3>
        </blocks>
        <helpers>
            <made_s3>
                <class>Made_S3_Helper</class>
            </made_s3>
            <cms>
                <rewrite>
                    <wysiwyg_images>Made_S3_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
        <resources>
            <made_s3_setup>
                <setup>
                    <module>Made_S3</module>
                </setup>
            </made_s3_setup>
        </resources>
        <events>
            <made_assets_merged_file_exists>
                <observers>
                    <file_exists_check_db_assets>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>fileExistsCheckDbAssets</method>
                    </file_exists_check_db_assets>
                </observers>
            </made_assets_merged_file_exists>
            <made_assets_merged_file_mtime>
                <observers>
                    <merged_file_mtime>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>mergedFileMtime</method>
                    </merged_file_mtime>
                </observers>
            </made_assets_merged_file_mtime>
            <made_assets_save_target_file>
                <observers>
                    <save_asset_target_file>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>saveAssetTargetFile</method>
                    </save_asset_target_file>
                </observers>
            </made_assets_save_target_file>
            <made_assets_set_base_url>
                <observers>
                    <set_assets_base_url>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>setAssetsBaseUrl</method>
                    </set_assets_base_url>
                </observers>
            </made_assets_set_base_url>
        </events>
    </global>
    <frontend>
        <secure_url>
            <made_s3>/made_s3</made_s3>
        </secure_url>
        <routers>
            <made_s3>
                <use>standard</use>
                <args>
                    <module>Made_S3</module>
                    <frontName>made_s3</frontName>
                </args>
            </made_s3>
        </routers>
        <events>
            <made_image_geturl>
                <observers>
                    <get_image_cdn_url>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>getImageCdnUrl</method>
                    </get_image_cdn_url>
                </observers>
            </made_image_geturl>
            <made_image_is_cached>
                <observers>
                    <file_exists_check_db>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>madeImageIsCached</method>
                    </file_exists_check_db>
                </observers>
            </made_image_is_cached>
            <made_image_savefile>
                <observers>
                    <save_path_to_db>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>madeImageSaveFile</method>
                    </save_path_to_db>
                </observers>
            </made_image_savefile>
            <made_image_output_before>
                <observers>
                    <maybe_use_kraken>
                        <type>singleton</type>
                        <model>made_s3/observer</model>
                        <method>madeImageOutputBefore</method>
                    </maybe_use_kraken>
                </observers>
            </made_image_output_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <made_s3>
                    <file>made/s3.xml</file>
                </made_s3>
            </updates>
        </layout>
    </adminhtml>
</config>