<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <system>
            <groups>
                <media_storage_configuration>
                    <fields>
                        <s3_cdn_url translate="label comment">
                            <label>Amazon S3 CDN URL</label>
                            <comment>The URL (preferably HTTPS) to the S3 bucket or Cloudfront distribution where we upload the image cache.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </s3_cdn_url>
                    </fields>
                </media_storage_configuration>
            </groups>
        </system>
    </sections>
</config>