<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <system translate="label" module="core">
            <groups>
                <s3 translate="label">
                    <label>Amazon S3/Kraken/CDN Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>899</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cdn_url translate="label comment">
                            <label>CDN URL</label>
                            <comment>The URL (preferably HTTPS) CDN distribution which uses the bucket set in local.xml as origin.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cdn_url>
                    </fields>
                </s3>
            </groups>
        </system>
    </sections>
</config>